@namespace TablerForNet.Components
@inherits TablerBaseComponent

<HtmlElement Tag="li"
             class="@ClassNames"
             @onclick="OnClick"
             @attributes="@UnmatchedParameters">

   
    <div class="list-timeline-icon @IconColor.GetColorClass("bg")">
        @if (IconTemplate != null)
        {
            @IconTemplate
        }
        else
        {
            @IconText
        }
    </div>
 
    <div class="list-timeline-content">
        @if (!string.IsNullOrWhiteSpace(Time))
        {
            <div class="list-timeline-time">@Time</div>
        }
        @if (!string.IsNullOrWhiteSpace(Title))
        {
            <p class="list-timeline-title">@Title</p>
        }
        @ChildContent
    </div>
</HtmlElement>

@code{

    [Parameter] public string IconText { get; set; }
    [Parameter] public RenderFragment IconTemplate { get; set; }
    [Parameter] public TablerColor IconColor { get; set; }
    [Parameter] public string Time { get; set; }
    [Parameter] public string Title { get; set; }

    protected override string ClassNames => ClassBuilder
        .Add("")
        .Add(BackgroundColor.GetColorClass("bg"))
        .Add(TextColor.GetColorClass("text"))
        .ToString();
}