@namespace TablerForNet.Components
@inherits TablerBaseComponent

<div class="@ClassNames" @attributes="@UnmatchedParameters" @onclick="OnClick">
    <div class="@BarClassNames" style="width: @Precentage.ToString()%" role="progressbar" aria-valuenow="@Precentage" aria-valuemin="0" aria-valuemax="100">
        @if (!string.IsNullOrEmpty(Text))
        {
            <span>@Text</span>
        }

    </div>
</div>


@code{
    [Parameter] public TablerColor Color { get; set; }
    [Parameter] public ProgressSize Size { get; set; }
    [Parameter] public bool Indeterminate { get; set; }
    [Parameter] public int Precentage { get; set; }
    [Parameter] public string Text { get; set; }

    protected override string ClassNames => ClassBuilder
          .Add("progress")
          .Add(BackgroundColor.GetColorClass("bg", ColorType.Default))
          .AddCompare("progress-sm", Size, ProgressSize.Small)
          .AddCompare("progress-lg", Size, ProgressSize.Large)

          .ToString();


    protected string BarClassNames => ClassBuilder
             .Add("progress-bar")
             .Add(Color.GetColorClass("bg"))
             .AddIf("progress-bar-indeterminate", Indeterminate)
             .ToString();
}